DATABASE_URL=mysql2://app:app_password@127.0.0.1:3306/bookkeeper_development
DB_USERNAME=app
DB_PASSWORD=app_password
DB_HOST=127.0.0.1
DB_PORT=3306
RAILS_MASTER_KEY=
DEFAULT_FROM_EMAIL=no-reply@example.local
